body {
  background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 240px;
  }
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 58px 0 0; /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px;
  z-index: 600;
}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}
.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

/* Style the form container */
form {
  /* background-color: #ffffff; */
  padding: 20px;
  border-radius: 8px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); */
  max-width: 800px; /* Adjust as needed */
  margin: 0 auto; /* Center horizontally */
}

/* Style input fields */
form input,
form textarea,
form select {
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  transition: border-color 0.3s, box-shadow 0.3s;
}

/* Style labels */
form label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
}

/* Style cards */
.limit-to-2-lines {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 10px 0;
}

.card-container > .card {
  display: flex;
  flex-direction: column;
}

.card-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img > img {
  aspect-ratio: 3/2;
  object-fit: cover;
  /* height: 100%; */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card-title {
  height: 60px;
  padding: 10px 0;
}

.card-instructor {
  display: inline;
  background-color: #f3f3f3;
  color: gray;
  font-size: 12px;
  border-radius: 7px;
  padding: 2px 5px;
}

@media (min-width: 501px) and (max-width: 770px) {
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .card-container {
    grid-template-columns: 1fr;
    padding: 0 40px;
  }
}

/* Style course details */
.top {
  display: flex;
  flex-direction: column;
  gap: 10px;

  @media (min-width: 770px) {
    flex-direction: row;
  }
}

.top .title {
  font-size: 15px;

  @media (min-width: 770px) {
    font-size: 20px;
  }
}

.top .category,
.top .total-duration,
.top .total-lessons,
.top .price,
.top .published-date {
  font-size: 10px;

  @media (min-width: 770px) {
    font-size: 14px;
  }
}

.btn-container {
  display: flex;
  align-items: start;
  gap: 5px;

  a,
  form > button,
  div,
  select {
    font-size: 10px;

    @media (min-width: 770px) {
      font-size: 15px;
    }
  }
}

.bottom {
  display: flex;
  flex-direction: column;

  & > div:first-child {
    order: 1;
  }

  @media (min-width: 770px) {
    flex-direction: row;

    & > div:nth-child(2) {
      order: 2;
    }
  }
}

.tag {
  display: inline;
  font-size: 12px;
  background-color: ghostwhite;
  padding: 2px 7px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  margin-right: 5px;

  i {
    color: red;
    margin-left: 10px;
    cursor: pointer;
  }

  &:hover,
  i:hover {
    background-color: rgb(245, 220, 220);
  }
}

/* Style form */
.form-container {
  display: inline;
  padding: 0;

  select {
    font-size: 12px;
    padding: 2px 7px;
    width: auto;
    height: auto;
  }
}

/* Style lesson table */
.lesson-container {
  display: grid;
  grid-template-columns: 10% 40% 35% auto;
  align-items: center;
  font-size: 13px;
  border-bottom: 1px solid gainsboro;
  padding: 5px;
}

.lesson-container .duration {
  font-size: 10px;
}

.lesson-container .file,
.lesson-container .video_url {
  display: flex;
  gap: 8px;
  padding-bottom: 5px;

  a {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}

.btn-update {
  color: rgb(54, 198, 230);
  font-size: 15px;
  margin-right: 7px;

  &:hover {
    color: rgb(54, 160, 230);
  }
}

.btn-delete {
  color: red;
  font-size: 15px;

  &:hover {
    color: darkred;
  }
}

/* Style filter */

.scroll-container {
  display: flex;
  overflow: auto;
  scrollbar-width: none;
  gap: 1rem;
  padding: 0.5rem;

  & > form > button {
    background: #e8e9ee;
    padding: 0.25rem 1rem;
    border-radius: 50px;
    white-space: nowrap;
    border: none;

    &.active {
      background-color: black;
      color: white;
    }
  }
}

.status-progress {
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 12px;
  background-color: rgb(228, 242, 253);
}

.status-completed {
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 12px;
  background-color: rgb(231, 254, 242);
}

.info-container {
  display: flex;
  column-gap: 15px;
  flex-wrap: wrap;
}

/* Style dashboard */
.dashboard .top-section {
  background-color: rgb(231, 186, 192);
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;

  p,
  a {
    padding: 0;
    margin: 0;
  }

  p:nth-child(1) {
    font-weight: bold;
    font-size: 25px;
    word-spacing: 10px;
  }

  a {
    color: pink;
    background-color: white;
    padding: 3px 7px;
    font-size: 14px;
    max-width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.25s all;
    text-decoration: none;

    &:hover {
      color: palevioletred;
    }
  }
}

.dashboard > .middle-section {
  .course-card-container {
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;

    @media (min-width: 771px) {
      justify-content: start;
    }

    .course-card {
      width: 225px;
      min-width: 150px;
      background-color: rgb(122, 185, 175);
      padding: 10px 15px;
      border-radius: 10px;

      & > i:nth-child(1) {
        color: purple;
        padding: 12px;
        background-color: lightblue;
        border-radius: 50%;
      }

      & > div:nth-child(2) {
        height: 60px;
        overflow: hidden;
        font-weight: 500;
        padding: 10px 0;
      }

      & > div:nth-child(3) {
        display: inline-flex;
        gap: 20px;
        padding: 8px 15px;
        margin-top: 5px;
        border-radius: 5px;
        background-color: gainsboro;
      }

      & > a {
        background-color: white;
        padding: 3px 7px;
        font-size: 14px;
        max-width: fit-content;
        border-radius: 5px;
        cursor: pointer;
        transition: 0.25s all;
        text-decoration: none;
        color: rgb(122, 185, 175);

        &:hover {
          color: rgb(46, 122, 109);
        }
      }
    }
  }
}

.dashboard > .bottom-section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 771px) {
    flex-direction: row;
  }

  .left {
    flex: 1;
    padding: 10px;
    border-radius: 10px;

    ol > li::before {
      content: none;
    }
  }

  .right {
    flex: 2;
    padding: 10px;
    border-radius: 10px;

    & > div {
      border: 1px solid gainsboro;
      border-radius: 0.75rem;
      overflow: hidden;
    }
  }
}
