{% extends 'base.html' %} 

{% block title %} 
  {% if form.instance.pk %} 
    Update 
  {%else %} 
    Create 
  {% endif %} 
  
  Course 
{% endblock title %} 

{% block content %}

  
  {% if form.instance.pk %}

    {% include 'create_form.html' with Model='Course' form=form the_url='courses:course_detail' id=course.id enctype='enctype="multipart/form-data"' %}
    
  {% else %}
    
    {% include 'create_form.html' with Model='Course' form=form  the_url='courses:course_list' enctype='enctype="multipart/form-data"' %}
    
  {% endif %} 

{% endblock content %}
