{% extends 'base.html' %} 

{% block title %} Course Detail {% endblock title %}

{% block content %}

<div class="px-4">
  <!-- back -->
  <a href="{% url 'courses:course_list' %}" style="cursor: pointer; color: black">
    <div class="d-inline-block py-2 pe-3"><i class="bi bi-arrow-left"></i></div>
  </a>

  <!-- top -->
  <div class="top">
    <div class="flex-grow-1 pe-5">
      <!-- Instructor info - Rating -->
      <div class="d-flex gap-2 align-items-center">
        <img
          src="/media/profiles/instructor-profile.jpg"
          class="rounded-circle border"
          style="width: 30px"
          alt="profile"
        />
        <div>{{course.instructor.name}}</div>

        <!-- Average star rating -->
        <div class="ps-5 text-body-tertiary">       
          
          {% if course.reviews.all %}
            {{average_star_rating}}
            <i class="fa-solid fa-star text-warning"></i>
            ({{course.reviews.count}} rating{% if course.reviews.count > 1 %}s{% endif %})
          {% else %}
            No rating <i class="fa-solid fa-star text-body-tertiary"></i>
          {% endif %}     
            
        </div>
      </div>

      <!-- Title -->
      <div class="title fw-semibold">{{course.name}}</div>

      <div class="d-flex gap-3">
        <!-- Category -->
        <div class="d-flex align-items-center gap-1">
          <i class="bi bi-collection"></i>
          <div class="category">{{course.category.name}}</div>
        </div>

        <!-- Total duration -->
        <div class="d-flex align-items-center gap-1">
          <i class="bi bi-alarm pb-1"></i>
          <div class="total-duration">
            {% if total_duration is None %}
              00:00:00
            {% else %}
              {{total_duration}}           
            {% endif %}
          </div>
        </div>

        <!-- Total lessons -->
        <div class="d-flex align-items-center gap-1 text-nowrap">
          <i class="bi bi-journals pb-1"></i>
          <div class="total-lessons">{{total_lessons}} lesson{% if total_lessons > 1 %}s{% endif %}            
            </div>
        </div>

        <!-- Price -->
        <div class="d-flex align-items-center gap-1">
          <i class="bi bi-cash-coin"></i>
          <div class="price">${{course.price}}</div>
        </div>
        
        <!-- Published date -->
        <div class="d-flex align-items-center gap-1 text-nowrap">
          <i class="bi bi-calendar-event"></i>
          <div class="price">{{course.published_date}}</div>
        </div>
      </div>

       <!-- Tags -->
      <div>
        <!-- All tags -->
        
        {% for course_tag in course.tags.all %}
          <div class="tag">
            <span>{{course_tag.tag.name}}</span>

            {% if request.user.groups.all.0.name == 'admin' or request.user.groups.all.0.name == 'instructor' %}

              <form method="post" 
                    action="{% url 'courses:course_tag_delete' course_tag.id %}" class="d-inline p-0">
                {% csrf_token %}
                <button type="submit" class="border-0 bg-transparent p-0"><i class="bi bi-x-lg"></i></button>
              </form>
              
            {% endif %}   

          </div>
        {% endfor %}

        <!-- Add tag form -->
        {% if request.user.groups.all.0.name == 'admin' or request.user.groups.all.0.name == 'instructor' %}

          <form method="post" class="form-container">
            {% csrf_token %} 
            {{form.tag}}

            <button type="submit" name="add-tag" class="border-0 bg-transparent p-0">
              <i class="bi bi-plus-circle"></i>
            </button>
          </form>
        
        {% endif %}   
          
      </div>
    </div>

    <div class="btn-container">
      <!-- error message -->
      {% if messages %}
        {% for message in messages %}
          <div class="btn btn-danger btn-sm"><i class="fa-solid fa-circle-exclamation"></i> {{ message }}</div>
        {% endfor %}
      {% endif %}

      <!-- rating button -->    
      <!-- only student can rate -->
      {% if request.user.groups.all.0.name == 'student' %}     
        {% if student.enrollments.all %}
          {% for enrollment in student.enrollments.all %}
            <!-- student can rate only if it's the course they enroll in -->
            {% if enrollment.course.id == course.id %}
              
              <a 
                href="{% url 'reviews:review_create' course.id %}"
                class="btn btn-outline-warning btn-sm"
                >Rate
              </a>

            {% endif %}
          {% endfor %}         
        {% endif %}         
      {% endif %}
        

      <!-- enrolled students list -->
      {% if request.user.groups.all.0.name == 'admin' or request.user.groups.all.0.name == 'instructor' %}
        
        {% if course.enrollments.all  %}
          <select class="border border-1 border-dark rounded-1" style="padding: 6px 4px">
            <option>Enrollements</option>

            {% for enrollment in course.enrollments.all %}
              <option>{{enrollment.student.name}}</option>
            {% endfor %}
          </select>
        {% endif %}

      {% endif %}
             
      <!-- enroll button -->
      {% if request.user.groups.all.0.name == 'admin' %}
        
        <a 
          href="{% url 'enrollments:enrollment_create_in_course' course.id %}"
          class="btn btn-outline-success btn-sm"
          >Enroll
        </a>

      {% elif request.user.groups.all.0.name == 'student' %}

        <form method="post" 
              action="{% url 'enrollments:enrollment_create_in_course' course.id %}" class="m-0 p-0">
          {% csrf_token %}

          <button type="submit" name="add-enrollment" 
                  class="btn btn-outline-success btn-sm">
            Enroll
          </button>
        </form>

      {% endif %}  
      
      <!-- update/delete button -->
      {% if request.user.groups.all.0.name == 'admin' or request.user.groups.all.0.name == 'instructor' %}
      
        <a
          href="{% url 'courses:course_update' course.id %}"
          class="btn btn-outline-primary btn-sm"
          >Update
        </a>
        <a
          href="{% url 'courses:course_delete' course.id %}"
          class="btn btn-outline-danger btn-sm"
          >Delete
        </a>
        
      {% endif %}
        
    </div>
    
  </div>

  <hr />

  <!-- bottom -->
  <div class="bottom" style="gap: 40px">
    <!-- left -->
    <div style="flex: 1.5">

      <!-- Add lesson button -->
      {% if request.user.groups.all.0.name == 'admin' or request.user.groups.all.0.name == 'instructor' %}

        <a href="{% url 'courses:lesson_create' course.id %}" class="btn btn-outline-info btn-sm mb-2" style="font-size: 12px"
          >Add Lesson</a
        >
        
      {% endif %}   

      <!-- lessons -->
      <div>
        
        {% if lessons.all %}
          
          {% for lesson in lessons %}
            <div class="lesson-container">
              <div>{{lesson.order}}</div>

              <div class="px-2">
                <div class="lh-sm">{{lesson.name}}</div>
                <div class="duration">
                  <i class="bi bi-camera-video pb-1"></i>
                  {{lesson.duration}}
                </div>
              </div>

              <div>
                <div class="file">
                  <i class="bi bi-filetype-doc"></i>
                  
                  {% if lesson.resource_file  %}
                    <a href="{{lesson.resource_file.url}}">
                      {{ lesson.resource_file.name|slice:"6:" }}
                    </a>
                  {% else %}
                    <span>No File</span>
                  {% endif %}

                </div>

                <div class="video_url">
                  <i class="bi bi-play-circle"></i>
                  
                  {% if lesson.video_url %}
                    <a href="{{lesson.video_url}}">{{lesson.name}}</a>                 
                  {% else %}
                    <span>No video</span>
                  {% endif %}
                    
                </div>
              </div>

              <!-- update/delete lesson -->
              {% if request.user.groups.all.0.name == 'admin' or request.user.groups.all.0.name == 'instructor' %}

                <div class="px-2">
                  <a href="{% url 'courses:lesson_update' lesson.id %}" class="btn-update"><i class="bi bi-pencil-square"></i></a>
                  <a href="{% url 'courses:lesson_delete' lesson.id %}" class="btn-delete"><i class="bi bi-x-square"></i></a>
                </div>
                
              {% endif %}   
              
            </div>
          {% endfor %}

        {% else %}
          <h5>
            <i class="fa-solid fa-circle-exclamation"></i>
            <strong>No lessons</strong>
          </h5>
        {% endif %}       
          
      </div>

    </div>

    <!-- right -->
    <div style="flex: 1">
      <div
        class="border border-dark px-2 py-1 d-inline rounded-1"
        style="font-size: 12px"
      >
        Introduction
      </div>

      {% if course.image %}
        <img
          src="{{course.image.url}}"
          class="rounded-1 mt-2"
          style="width: 100%; aspect-ratio: 2; object-fit: cover"
          alt="{{course.name}}"
        />
      {% else %}
        <img
          src="/media/images/e-learning.png"
          class="rounded-1 mt-2"
          style="width: 100%; aspect-ratio: 2; object-fit: cover"
          alt="default"
        />
      {% endif %}

      <div class="fw-semibold py-2">Description</div>
      <div class="lh-sm" style="font-size: 12px">{{course.description}}</div>
    </div>
  </div>
</div>

{% endblock content %}
