{% extends 'base.html' %} 

{% block title %} 
  Course 
{% endblock title %} 

{%block content %}

  <div class="px-4">
    <div class="d-flex align-items-center mb-4">
      <div class="flex-grow-1 fw-bold fs-2">Course List</div>
      <a href="{% url 'courses:course_create' %}" class="btn btn-primary">Add course</a>
    </div>

    <p class="d-inline-flex gap-1">
      <a class="btn btn-primary" data-bs-toggle="collapse"  href="#filter-button-container" role="button" aria-expanded="
      {% if selected_category_id or selected_tag_id or selected_instructor_id %}
        true
      {% else %}
        false
      {% endif %}
        " aria-controls="filter-button-container">
        Filter
      </a>
    </p>

    {% comment %} filter {% endcomment %}
    <div class="collapse" id="filter-button-container">
      
      <div class="d-flex gap-2 mb-3">
        Category:
        <form method="get" class="m-0 p-0">
          <input type="hidden" name="category" value="" />
            
          <button type="submit" class="btn btn-primary btn-sm filter-btn            
            ">All</button>
        </form>
        {% for category in categories  %}
          <form method="get" class="m-0 p-0">
            <input type="hidden" name="category" value="{{category.id}}" />
            
            {% comment %} {% if selected_tags_int %} 
              
              {% for tag in selected_tags_int %}
                <input type="hidden" name="tag" value="{{tag}}" />
              {% endfor %}
                
            {% endif %} {% endcomment %}
              
            <button type="submit" class="btn btn-primary btn-sm filter-btn 
            {% if selected_category_id == category.id %}
              active
            {% endif %}
              
              ">{{category.name}}</button>
          </form>
        {% endfor %}
      </div>

      <!-- <div class="d-flex gap-2 mb-3">
        Tag:
        {% for tag in tags %}
          <form method="get" class="m-0 p-0">
            {% comment %} Check if this tag is selected {% endcomment %}
            {% if tag.id in selected_tags_int %}
              {% comment %} Already selected → Unselect by excluding this tag {% endcomment %}
              {% for selected_tag in selected_tags_int %}
                {% if selected_tag != tag.id %}
                  <input type="hidden" name="tag" value="{{ selected_tag }}">
                {% endif %}
              {% endfor %}
            {% else %}
              {% comment %} Not selected → Add this tag {% endcomment %}
              {% for selected_tag in selected_tags_int %}
                <input type="hidden" name="tag" value="{{ selected_tag }}">
              {% endfor %}
              <input type="hidden" name="tag" value="{{ tag.id }}">
            {% endif %}

            {% if selected_category_id %}
              <input type="hidden" name="category" value="{{ selected_category_id }}">
            {% endif %}

            {% if selected_instructor_id %}
              <input type="hidden" name="instructor" value="{{ selected_instructor_id }}">
            {% endif %}

            <button type="submit" class="btn btn-primary btn-sm filter-btn 
              {% if tag.id in selected_tags_int %}
                active
              {% endif %}
            ">
              {{ tag.name }}
            </button>
          </form>
        {% endfor %}
      </div> -->

      <div class="d-flex gap-2 mb-3">
        Tag:
        {% comment %} javascript python {% endcomment %}
        {% for tag in tags  %} 
          <form method="get" class="m-0 p-0">
            <input type="hidden" name="tag" value="{{tag.id}}" />

            {% if selected_category_id %}
              <input type="hidden" name="category" value="{{selected_category_id}}" />
            {% endif %}
              
            {% comment %} id javascript {% endcomment %}
            {% comment %} {% if selected_tag_int %} 
              
              {% for selected_tag in selected_tags_int %}
                
                {% if tag.id != selected_tag %}
                  <input type="hidden" name="tag" value="{{selected_tag}}" />      
                {% endif %}
                  
              {% endfor %}
                
            {% endif %} {% endcomment %}

            <button type="submit" class="btn btn-primary btn-sm filter-btn 
              {% if selected_tags %}
                
                {% for selected_tag in selected_tags %}
                  
                  {% if tag.id == selected_tag %}
                    active
                  {% endif %}
                    
                {% endfor %}
                  
              {% endif %}">
              {{tag.name}}
            </button>
          </form>
        {% endfor %}
      </div>

      <div class="d-flex gap-2">
        Instructor:
        {% for instructor in instructors %}
          <form method="get" class="m-0 p-0">
            <input type="hidden" name="instructor" value="{{instructor.id}}" />

            {% if selected_category_id %}
              <input type="hidden" name="category" value="{{selected_category_id}}" />
            {% endif %}
            
            {% if selected_tags_int %} 
              
              {% for tag in selected_tags_int %}
                <input type="hidden" name="tag" value="{{tag}}" />
              {% endfor %}
                
            {% endif %}

            <button type="submit" class="btn btn-primary btn-sm filter-btn 
            {% if selected_instructor_id == instructor.id %}
              active
            {% endif %}">
            {{instructor.name}}
            </button>
          </form>
        {% endfor %}
      </div>
    </div>

    <div class="card-container">  
      
      {% for course in courses %}
        <div class="card">

          <div class="card-img">
            {% if course.image %}
              <img src="{{ course.image.url }}" class="card-img-top object-fit-cover" alt="{{ course.name }}">
            {% else %}
              <img src="/media/media/e-learning.png" class="card-img-top object-fit-cover" alt="default-image">
            {% endif %}
          </div>
          
          <div class="px-3 pb-3">
            <h5 class="card-title limit-to-2-lines">{{course.name}}</h5>
            <div class="mb-3 limit-to-2-lines">{{course.description}}</div>
            <div>
              <div class="card-instructor">{{course.instructor}}</div>
              
              {% for course_tag in course.tags.all  %}
                <div class="card-instructor">{{course_tag.tag.name}}</div>
              {% endfor %}
                
            </div>
            <div class="d-flex align-items-center mt-2">
              <div class="flex-grow-1 fw-semibold fs-5">${{course.price}}</div>
              <a href="{% url 'courses:course_detail' course.id %}" class="btn btn-primary">Details</a>
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>

  {% comment %} <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Category</th>
        <th scope="col">Instructor</th>
        <th scope="col">Price</th>
        <th scope="col">Description</th>
        <th scope="col">Published Date</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for course in courses %}
      <tr>
        <th scope="row">{{course.id}}</th>
        <td>{{course.name}}</td>
        <td>{{course.category.name}}</td>
        <td>{{course.instructor.name}}</td>
        <td>${{course.price}}</td>
        <td>{{course.description}}</td>
        <td>{{course.published_date}}</td>
        <td>
          <a
            href="{% url 'course_update' course.id %}"
            class="btn btn-outline-primary btn-sm"
            >Update</a
          >
          <a
            href="{% url 'course_delete' course.id %}"
            class="btn btn-outline-danger btn-sm"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table> {% endcomment %}

{% endblock content %}
