{% extends 'base.html' %}


{% block title %}
  Dashboard
{% endblock title %}
  

{% block content %}
  <div class="dashboard px-4 py-3">

    <!-- top -->
    <div class="top-section">
      <p>Hello, {{request.user}}!</p>
      <p>Check out what's new and improve in your dashboard!</p>
      <a href="{% url 'enrollments:enrollment_list' %}">Go to enrollments</a>
    </div>

    <!-- middle -->
    <div class="middle-section">
      <div class="course-card-container">
        <div class="course-card">
          <h5>Total Instructors</h5>
          <div>
            <div>
              <i class="fa-solid fa-chalkboard-user me-3"></i>
              <span>{{total_instructors}}</span>
            </div>
          </div>
          <a href="{% url 'users:instructor_list' %}">Go to instructor</a>
        </div>

        <div class="course-card">
          <h5>Total Students</h5>
          <div>
            <div>
              <i class="fa-solid fa-graduation-cap me-3"></i>
              <span>{{total_students}}</span>
            </div>
          </div>
          <a href="{% url 'users:student_list' %}">Go to student</a>
        </div>

        <div class="course-card">
          <h5>Total Courses</h5>
          <div>
            <div>
              <i class="fa-solid fa-book me-3"></i>
              <span>{{total_courses}}</span>
            </div>
          </div>
          <a href="{% url 'courses:course_list' %}">Go to course</a>
        </div>
        
        <div class="course-card">
          <h5>Total Enrollments</h5>
          <div>
            <div>
              <i class="fas fa-chart-area me-3"></i>
              <span>{{total_enrollments}}</span>
            </div>
          </div>
          <a href="{% url 'enrollments:enrollment_list' %}">Go to enrollment</a>
        </div>
      </div>
    </div>

    <!-- bottom -->
    <div class="bottom-section">
      <!-- left -->
      <div class="left">
        <!-- teacher's table with profile and name -->
        <h5>Instructor List</h5>
          
        <ol class="list-group list-group-numbered">
          {% for instructor in instructors %}
            <li class="list-group-item d-flex justify-content-between align-items-start">
              <div>
                <img class="rounded-circle border" style="width: 40px;" src="/media/images/instructor-profile.jpg" alt="profile">
              </div>

              <div class="ms-2 me-auto">
                <div class="fw-bold">{{instructor.name}}</div>
                courses: {{instructor.courses.count}}
              </div>
            </li>
          {% endfor %}
        </ol>

      </div>

      <!-- right -->
       <div class="right">
        <!-- student's table with student and course -->
        <h5>Student List</h5>

        <div class="overflow-auto">
          <table class="table" style="min-width: 500px;">

            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Email</th>
                <th scope="col">Address</th>
              </tr>
            </thead>
            
            <tbody>
              
              {% for student in students %}
                <tr>
                  <th scope="row">
                    <img class="rounded-circle border" style="width: 30px;" src="
                    {% if student.gender == 'Female'  %}
                      /media/images/female-student-profile.jpg
                    {% else %}
                      /media/images/male-student-profile.jpg
                    {% endif %}
                    " alt="profile">
                  </th>
                  <td>{{student.name}}</td>
                  <td>{{student.age}}</td>
                  <td>{{student.email}}</td>
                  <td>{{student.address}}</td>
                </tr>
              {% endfor %}
                
            </tbody>
            
          </table>
        </div>
       </div>
    </div>

  </div>
{% endblock content %}
  