{% extends 'base.html' %} 

{% block title %} 
  {% if form.instance.pk %} 
    Update 
  {%else %} 
    Create 
  {% endif %} 
  
  Student 
{% endblock title %} 

{% block content %}

  {% if form.instance.pk %}
    
    {% include 'create_form.html' with Model='Student' form=student_form the_url='users:student_list' %}
    
  {% else %}
    
    {% include 'create_form.html' with Model='Student' form=student_form user_form=user_form the_url='users:student_list' %}

  {% endif %}

{% endblock content %}
