{% extends 'base.html' %} 

{% block title %} Student Detail {% endblock title %}

{% block content %}

<div class="px-4">
  <a href="{% url 'users:student_list' %}" style="cursor: pointer; color: black;">
    <div class="d-inline-block py-2 pe-3"><i class="bi bi-arrow-left"></i></div>
  </a>

  <!-- top -->
  <div class="top">
    <div class="flex-grow-1">
      <!-- Student info -->
      <div class="d-flex gap-2 align-items-center">
        <img
          src="
            {% if student.gender == 'Female' %}
              /media/profiles/female-student-profile.jpg
            {% else %}
              /media/profiles/male-student-profile.jpg
            {% endif %}
            "
          class="rounded-circle border"
          style="width: 30px"
          alt="profile"
        />
        <div>{{student.name}}</div>
      </div>

      <div class="info-container">
        <!-- Age -->
        <div class="d-flex align-items-center gap-1">
          <i class="bi bi-backpack2"></i>
          <div class="category">{{student.age}} y.o</div>
        </div>
        
        <!-- Email -->
        <div class="d-flex align-items-center gap-1">
          <i class="bi bi-envelope-at"></i>
          <div class="category">{{student.email}}</div>
        </div>
        
        <!-- Phone -->
        <div class="d-flex align-items-center gap-1">
          <i class="bi bi-telephone"></i>
          <div class="category">{{student.phone}}</div>
        </div>
        
        <!-- Address -->
        <div class="d-flex align-items-center gap-1">
          <i class="bi bi-geo"></i>
          <div class="category">{{student.address}}</div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <!-- bottom -->
  <div class="bottom" style="gap: 40px">
    <div class="card-container">  

      {% if student.enrollments.all %}
        
        {% for enrollment in student.enrollments.all %}
          <div class="card">

            <div class="card-img">
              {% if enrollment.course.image %}
                <img src="{{ enrollment.course.image.url }}" class="card-img-top object-fit-cover" alt="{{ enrollment.course.name }}">
              {% else %}
                <img src="/media/images/e-learning.png" class="card-img-top object-fit-cover" alt="default-image">
              {% endif %}
            </div>
            
            <div class="px-3 pb-3">
              <h5 class="card-title limit-to-2-lines">{{enrollment.course.name}}</h5>
              <div class="mb-3 limit-to-2-lines">{{enrollment.course.description}}</div>
              <div>
                <div class="card-instructor">{{enrollment.course.instructor}}</div>
                
                {% for course_tag in enrollment.course.tags.all  %}
                  <div class="card-instructor">{{course_tag.tag.name}}</div>
                {% endfor %}
                  
              </div>
              <div class="d-flex align-items-center mt-2">
                <div class="flex-grow-1 fw-semibold fs-5">${{enrollment.course.price}}</div>
                <a href="{% url 'courses:course_detail' enrollment.course.id %}" class="btn btn-primary">Details</a>
              </div>
            </div>
          </div>
        {% endfor %}
        
      {% else %}

        <div style="width: 170px;">
          <h5>
            <i class="fa-solid fa-circle-exclamation"></i>
            <strong>No enrollment</strong>
          </h5>

          <a href="{% url 'courses:course_list' %}" class="btn btn-outline-dark btn-sm d-block">Go to courses</a>
        </div>

      {% endif %}

    </div>
  </div>
</div>

{% endblock content %}
