{% extends 'base.html' %} 

{% block title %} 
  {% if form.instance.pk %} 
    Update 
  {%else %} 
    Create 
  {% endif %} 
  
  Lesson 
{% endblock title %} 

{% block content %}
{% comment %} 
  {% if messages %}
  {% for message in messages %}
    <p style="color: red;">{{ message }}</p>
  {% endfor %}
{% endif %} {% endcomment %}

  {% include 'form.html' with messages=messages Model='Lesson' the_url='courses:course_detail' id=course.id enctype='enctype="multipart/form-data"' %}

{% endblock content %}
