{% extends 'base.html' %} 

{% block title %} 
  Delete Lesson 
{% endblock title %}


{% block content %}

  <div class="row">
    <div class="col-lg-9 mx-auto rounded border p-2">
      <h2 class="text-center mb-3">Delete Lesson</h2>

      <form method="post">
        {% csrf_token %}
        <h3>Are you sure you want to delete this lesson?</h3>

        <div>
          <div class="mb-1"><strong>Name:</strong> {{lesson.name}}</div>
          <div class="mb-1"><strong>Video Url:</strong> {{lesson.video_url}}</div>
          <div class="mb-1"><strong>Duration:</strong> {{lesson.duration}}</div>
          <div class="mb-1"><strong>Resource File:</strong> {{ lesson.resource_file.name|slice:"6:" }}</div>
        </div>

        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary me-2 btn-sm">
            Confirm
          </button>
          <a
            href="{% url 'courses:course_detail' lesson.course.id %}"
            class="btn btn-outline-secondary btn-sm"
            >Back</a
          >
        </div>
      </form>
    </div>
  </div>

{% endblock content %}
